<%- include('head.ejs') %>
<body>
    <%- include('header.ejs') %>
    <div class="container-fluid my-5 px-0">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-6">
                    <h4>Hello, I'm</h4>
                    <h1 class="name">Ponpitak Sirimart</h1>
                    <h4 class="py-3">Front-end Developer</h4>
                    <p class="pb-4">"Design is not just what it looks like and feels like.<br>Design is how it works." - Steve Jobs</p>
                    <button class="btn-talk">Let's Talk</button>
    
                    <div class="row mt-5 justify-content-center justify-content-lg-start">
                        <ul class="work-li col-6">
                            <li>
                                <a href="https://github.com/bpsrm" target="_blank"><i class="fa-brands fa-github"></i></a>
                            </li>
                            <li class="mx-2">
                                <a href="https://www.linkedin.com/in/bp-srm-297813239/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://web.facebook.com/messages/t/100006807047496" target="_blank"><i class="fa-brands fa-facebook-messenger"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="/img/profile.jpg" alt="profile" class="img-profile">
                </div>
            </div>
        </div>
        
       <div class="container-fluid section-two p-5">
            <div class="row my-5">
                <div class="col-lg-6">
                    <img src="/img/profile-about.jpg" alt="profile" class="img-profile">
                </div>
                <div class="col-lg-6 ps-lg-5 mt-3 mt-lg-0">
                    <h4>My Intro</h4>
                    <h1 class="about">About Me</h1>
                    <p class="pb-4">
                        "I aspire to be a Front-End Developer with four years of university-level education in web development. I possess extensive experience in web design and a strong focus on user experience (UX/UI). My objective is to create efficient and user-friendly websites that leave a lasting positive impact on users."</p>
                    <button class="btn-contact">Contact Me</button>
                </div>
            </div>
       </div>

    <div class="container mt-5">
        <div class="row mb-5">
            <h4>Favorite Skill</h4>
            <h1 class="skill">Coding Skill</h1>
            <div class="col-lg-6">
                <ul  class="list-group">
                    <li class="list-group-item">01: HTML</li>
                    <li class="list-group-item">02: CSS</li>
                    <li class="list-group-item">03: JavaScript</li>
                    <li class="list-group-item">04: PHP</li>
                    <li class="list-group-item">05: Python</li>
                    <li class="list-group-item">06: Bootstrap</li>
                    <li class="list-group-item">07: Laravel Framework</li>
                    <li class="list-group-item">08: CodeIgniter4 Framework</li>
                    <li class="list-group-item">09: MySql</li>
                </ul>
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-between align-items-center mt-3 mt-lg-4">
                <div class="img-mockup-group">
                    <img src="/img/mockup-start.png" alt="" class="img-fluid w-25">
                    <img src="/img/mockup-web.png" alt="" class="img-fluid w-75">
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-12">
                <h1 class="skill">Design Skill</h1>
                <ul  class="list-group">
                    <li class="list-group-item">01: Figma</li>
                    <li class="list-group-item">02: Adobe XD</li>
                    <li class="list-group-item">03: Adobe Photoshop</li>
                    <li class="list-group-item">04: Adobe Illustrator</li>
                </ul>
            </div>
            <div class="col-lg-12 mt-3 text-black">
                <div id="carouselExampleIndicators" class="carousel slide mt-5" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="row justify-content-evenly">
                            <div class="card">
                                <img src="/img/artwork1.jpg" class="d-block w-100" alt="Artwork1">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card">
                                <img src="/img/artwork2.jpg" class="d-block w-100" alt="Artwork2">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card">
                                <img src="/img/artwork2.jpg" class="d-block w-100" alt="Artwork2">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row justify-content-evenly">
                            <div class="card">
                                <img src="/img/illus1.jpg" class="d-block w-100" alt="Artwork3">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card">
                                <img src="/img/illus2.jpg" class="d-block w-100" alt="Artwork4">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card">
                                <img src="/img/illus3.jpg" class="d-block w-100" alt="Artwork5">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row justify-content-evenly">
                            <div class="card">
                                <img src="/img/illus4.jpg" class="d-block w-100" alt="Artwork6">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card">
                                <img src="/img/illus5.jpg" class="d-block w-100" alt="Artwork7">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card">
                                <img src="/img/illus6.jpg" class="d-block w-100" alt="Artwork8">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>            
        </div>
    </div>
</body>
<script>
const cardElements = document.getElementsByClassName('card');
setCardWidth();

function setCardWidth() {
  if (window.innerWidth <= 600) {
    for (let i = 0; i < cardElements.length; i++) {
      cardElements[i].style.width = '100%';
    }
  } else {
    for (let i = 0; i < cardElements.length; i++) {
      cardElements[i].style.width = '25%';
    }
  }
}
window.addEventListener('load', setCardWidth);
window.addEventListener('resize', setCardWidth);
</script>
</html>